@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/*
1em = 16px
0-600px (0-37.5em):          Phone
600-900px (37.5-56.25em:     Tablet Portrait
900-1200px (56.25-75em:      Tablet Landscape
1200-1800px (75-112.5em):    Desktop ( is where our normal styles apply) (Desktop first approch)
1800- + px (112.5- + em):    Big Desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Order:  Base + Typography >
        General Layout + Grid Layout >
        Page Layout >
        Components

1em = 16px
 */
@mixin respond ($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };
  }

}